<%- include partials/header %>

<section class="welcome-section" id="welcome">
    <div class="container welcome-div">
    
        <h1>Welcome</h1>
        <div class="line"></div>
        <p>Dealing with your finances can be intimidating. That's why we take the time to listen to you, learn your goals and then create your plan using Nikunj’s philosophies that reflect the latest academic research.</p>

        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-3x fa-percentage"></i>
                <h1>Tax Planning</h1>
                <p>Tax Planning is an important element of your wealth management strategy, as it allows you to continue to help your loved ones after you’re gone.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-3x fa-rupee-sign"></i>
                <h1>School Fees Planning</h1>
                <p>We all want our children to have good prospects, which is why education fees planning is a vital wealth management matter that shouldn’t be overlooked.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-3x fa-save"></i>
                <h1>Other Saving Solutions</h1>
                <p>There is a variety of saving plans which can be tailored to your needs, including:</p>
                <ul>
                    <li>Tax Exempt Savings</li>
                    <li>Regular Savings.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="about-section" id="about">
    <div class="about-div container">
        <h1>About</h1>
        <div class="line"></div>
        <div class="about-content" >
            <p><strong>ME FINANCE</strong> is an International Financial Planning company with offices in multiple jurisdictions over the world. Working with Intense gives me the ability to advise international expatriates</p>
            <h3> &#8212 I am Nikunj Aggarwal, a senior advisor for an independently owned financial planning company called Intense.</h3>
            <button class="btn btn-outline-warning about-btn" >EXPLORE MORE</button>
        </div>
        <div style="clear:both;"></div>
    </div>
</section>

<section class="advice-section" id="advice">
    <div class="advice-div container">
        <h1>Let’s Start Planning Your Financial Future Today</h1>
        <div class="line"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="circle">1</div>
                <h1>Talk</h1>
                <p>Actually, I'll listen as you explain your needs, dreams, and fears. Then I'll design a personalized plan that explains how we can help you reach your financial goals.</p>
            </div>
            <div class="col-md-4">
                <div class="circle">2</div>
                <h1>Act</h1>
                <p>We work together to implement the plan. Then I keep you updated on where you stand and adapt the plan as life happens.</p>
            </div>
            <div class="col-md-4">
                <div class="circle">3</div>
                <h1>Relax</h1>
                <p>I`m here for you whenever you need. Call me at any time, for any reason. Buying a new car? Ask my advice. I can always help you.</p>
            </div>
        </div>
        <button class="btn btn-outline-warning">GET STARTED TODAY</button>
    </div>
</section>

<section class="planning-section" id="planning">
    <div class="planning-div container">
        <h1>Financial Planning</h1>
        <div class="line"></div>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">Investment Management</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile">Retirement Planning</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                        href="#list-messages" role="tab" aria-controls="messages">Long Term Care</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                        href="#list-settings" role="tab" aria-controls="settings">Estate Planning</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                        <p>I am working with clients, from individual investors to large financial institutions, to develop advanced portfolio management strategies to help them achieve specific goals for their own or their institution's financial future.</p>
                        <br>
                        <p>How I organize my work:</p>
                        <ul>
                            <li>Research market ideas and build investment portfolios across a broad range of asset classes.</li>
                            <li>Advise clients on how to allocate assets to meet unique objectives, addressing the dynamic market environment;</li>
                            <li>Develop and manage customized solutions for the world’s leading pension plans, sovereign wealth funds, central banks, insurance companies, financial institutions, endowments, foundations, individuals and family offices;</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                        <p>If you are one of those people who want to plan - and are about 10 to 15 years from the day you retire - this booklet is for you. Today's (and tomorrow's) retirees may well have a new kind of retirement. With a longer and healthier life span, bikes, boats, planes, and RVs may be part of your life, because you are more likely than previous generations.</p>
                        <br>
                        <p>Retirement can be a time to explore new possibilities or to slow down and fully enjoy the life you spent your working years building—or it can be a bit of both. Regardless of your path, you want to ensure that this phase is as financially secure and satisfying as it can be—a process that ideally begins with your first job and continues even after retirement begins.</p>
                        <br>
                        <p>Here, I can take you expert guidance on all the elements that contribute to a good retirement: saving and investing; planning; maintaining your health; identifying activities and work to suit you; and, of course, being a savvy consumer.</p>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <p>Long-term care involves a variety of services designed to meet a person's health or personal care needs during a short or long period of time. These services help people live as independently and safely as possible when they can no longer perform everyday activities on their own.</p>
                        <br>
                        <p>The most common type of long-term care is personal care -- help with everyday activities, also called 'activities of daily living.' These activities include bathing, dressing, grooming, using the toilet, eating, and moving around -- for example, getting out of bed and into a chair.</p>
                        <br>
                        <p>Long-term care also includes community services such as meals, adult day care, and transportation services. These services may be provided free or for a fee.</p>
                        <br>
                        <p>Long-term care insurance is a type of policy which is designed to provide for the financial welfare of an individual beyond a certain period. An example of this can be seen when a common disability package is replaced with its long-term counterpart. </p>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <p>Many people believe they don't need estate planning because they think they don't have an estate. Or they think the value of their estate is not great enough to cause estate taxation, so what's the point?</p>
                        <br>
                        <p>With few exceptions, everyone has an estate -- even the young child with a custodial account in his name and the granddaughter who received a lovely piece of jewelry for her 16th birthday.</p>
                        <br>
                        <p>Bottom line: If you own something of value that you would pass on to someone else upon your death, you have an estate. Whether you know it or not, you also have an estate plan. The state has one for you free of charge (well, sort of) if you don't get around to writing a will or designing a plan of your own.</p>
                        <br>
                        <p>Broadly speaking, an estate plan encompasses the accumulation, conservation and distribution of an estate. A good plan will enhance and maintain the financial security of individuals and their families.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contactUs-section" id="contactUs">
    <div class="contactUs-div">
        <div class="row">
            <div class="col-md-8">
                <h1>Get In Touch</h1>
                <div class="line"></div>
                <p>You can contact me any way that is convenient for you. I am available 24/7 via fax, email or telephone. You can also use a quick contact form located on this page to ask a question about my services and projects I work on. I would be happy to answer your questions or offer any help.</p>

                <form>
                    <div class="form-group row">
                        <div class="col">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name">
                        </div>
                        <div class="col">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailID">Email address</label>
                        <input type="email" class="form-control" id="emailID" name="emailID" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                    </div>
                    <button class="btn btn-outline-warning" >SEND</button>
                </form>
            </div>

            <div class="col-md-4 contactWays ">
                <div class="social">
                    <h3>Social</h3>
                    <div class="line"></div><hr>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="phone">
                    <h3>Phone</h3>
                    <div class="line"></div><hr>
                    <i class="fas fa-mobile-alt"></i><p>836-837-0775</p>
                </div>
                <div class="address">
                    <h3>Address</h3>
                    <div class="line"></div><hr>
                    <i class="fas fa-map-marker"></i>
                    <p>HNO - 14 Shyam Vihar, </p>
                    <p class="extraPadding">West Model Town, Ghaziabad</p>
                </div>
                <div class="openHours">
                    <h3>Open Hours</h3>
                    <div class="line"></div><hr>
                    <i class="far fa-clock"></i>
                    <p>Monday–Friday: 9:00am–6:00pm</p>
                    <p class="extraPadding" >Saturday: 10:00am–4:00pm</p>
                    <p class="extraPadding" >Sunday: 10:00am–1:00pm</p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include partials/footer %>